:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  @apply bg-gradient-to-br from-blue-50 to-blue-100 min-h-screen;
  font-family: sans-serif;
}

.login-bg {
  background: url('./backgroundImage.jpg') no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
